* {
    --dark-primary-color: 40, 42, 54;
}

@media only screen and (max-width:820px) {
    .markdown-content {
        width: auto;
    }
}

h1 {
    color: #ff79c6;
}
h2 {
    color: #8be9fd;
}

h3 {
    color: #8be9fd;
}

h4 {
    color: #ff5555;
}

a:link,
a:visited {
    text-decoration-color: #be4bdb;
}

hr {
    color: #6272a4;
}

.post-title {
    color: #bd93f9;
}

#RVHFEED_class, ul {

    list-style-type: none;
    padding-left: 0;
}

hr {
    border-bottom: solid 1px #6272a4;
}


/*#statuscafe {
    display: block;
    text-align: center;
}
#statuscafe-username {
    margin-bottom: .2em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}*/

