:root {
    --dark-primary-color: 40, 42, 54;
}

h1 {
    color: #ff79c6;
}
h2 {
    color: #8be9fd;
}

h3 {
    color: #8be9fd;
}

h4 {
    color: #ff5555;
}

hr {
    color: #6272a4;
}

.post-title {
    color: #bd93f9;
}

#status {
    display: block;
    text-align: center;
}

/*#statuscafe {
    display: block;
    text-align: center;
}
#statuscafe-username {
    margin-bottom: .2em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}*/

